/* app css stylesheet */
ul {margin:0;padding:0;}
body {
  padding-top: 20px;
}


#content {
    padding: 20px;
}

#template-list #theme-choice .active {
  font-weight:bold;
}
#template-list #template-choice .active {
    border: 1px solid green;
}
#template-list #template-choice .switchtemplate {
    display: block;
    height: 200px;
    width: 200px;
    cursor: pointer;
    padding: 20px;
}

#hud {
  position: fixed;
  top:100px;
  right:10px;
  background:white;
  box-shadow: 0 0 10px #aaa;
  padding: 15px;
}
/* Template or Sign list views */
a.list-item {
    display: block;
    padding: 10px;
    clear:both;
    min-height: 100px;
}

.list {
  border:1px solid #ccc;
  list-style: none;
  margin: 10px;
  display: inline-block;
}
.list img {float:right;box-shadow: 1px 1px 10px #ccc;}

.theme-CD {
  color:#ac281b;
}
.theme-DD {
  color:#763e7b;
}
.theme-SD {
  color:#89c33b;
}
.theme-LD {
  color:#3cb0e3;
}
.theme-DS {
  color:#f4a236; /*mustard*/
}

/* Color block is a reusable class (any layout can use it to pick up the appropriate color) */
.color-block {
  background:#ccc; /* default */  
}
.CD .color-block {
  background:#ac281b;
}
.DD .color-block {
  background:#763e7b;
}
.SD .color-block {
  background:#89c33b;
}
.LD .color-block {
  background:#3cb0e3;
}
.DS .color-block {
  background:#f4a236; /*mustard*/
}

/* Review Template Layouts (no color) */
#review.template-8511a #block-a {
  height:20px;
  width:100px;
}
#review.template-8511a #block-b {
  height:30px;
  width:40px;
  margin:10px;
}
#review.template-8511a #logo {
  height:40px;
  width:40px;
  background:grey;
}