/* app css stylesheet */
ul {margin:0;padding:0;}
body {
  padding-top: 20px;
}


#content {
    padding: 20px;
}


.theme-CD {
  color:#ac281b;
}
.theme-DD {
  color:#763e7b;
}
.theme-SD {
  color:#89c33b;
}
.theme-LD {
  color:#3cb0e3;
}
.theme-DS {
  color:#f4a236; /*mustard*/
}


/*
 HUD
 */
#hud {
  position: fixed;
  top:100px;
  right: 0px;
  background:white;
  box-shadow: 0 0 10px #aaa;
  padding: 15px 30px 15px 15px;
  width: 290px;
}

/*
 1. Choose a theme
 */
#theme-choice li {
    list-style: none;
    display: inline;
    margin: 10px;
    cursor: pointer;
}



/*
 2. Choose a Template
 Template or Sign list views
 */
#template-list #theme-choice .active {
  font-weight:bold;
  text-decoration: underline;
}
#template-list #template-choice .active {
    border: 1px solid green;
}
#template-list #template-choice .switchtemplate {
    display: block;
    height: 200px;
    width: 200px;
    cursor: pointer;
    padding: 20px;
}
a.list-item {
    display: block;
    padding: 10px;
    clear:both;
    min-height: 100px;
}

.list {
  border:1px solid #ccc;
  list-style: none;
  margin: 10px;
  display: inline-block;
}
.list img {float:right;box-shadow: 1px 1px 10px #ccc;}






/* Review Template Layouts (no color) */
.hud-thumbnail {position:relative;}
.hud-thumbnail div {position:absolute;}
.hud-thumbnail img {box-shadow: 1px 1px 5px #aaa;}
.field {width: 100%;}
.heading {text-align:center;width: 100%;}
.description{text-align:center;width:100%;}
.price{text-align:center;width:100%;}

/* 8511a */
.hud-thumbnail.template-8511a {
    height: 110px;
    width: 85px;
}
.hud-thumbnail.template-8511a .heading {
  font-size: 18px;
  top: 6px;
  line-height: 15px;
}
.hud-thumbnail.template-8511a .description {
  font-size:5px;
  top:32px;
  width:85px;
}
.hud-thumbnail.template-8511a .price {
  top: 51px;
}
.hud-thumbnail.template-8511a .dollar-sign {
    font-size: 15px;
    margin: 0 0 10px 0;
    vertical-align: top;
}
.hud-thumbnail.template-8511a .dollar-amt {
    font-size: 32px;
    line-height: 30px;
}
.hud-thumbnail.template-8511a .decimal {
    display: none;
}
.hud-thumbnail.template-8511a .cents-amt {
    font-size: 18px;
    vertical-align: top;
}