/* app css stylesheet */
ul {margin:0;padding:0;}
body {
  padding-top: 20px;
}


#content {
    padding: 20px;
}


/* Template or Sign list views */
a.list-item {
    display: block;
    padding: 10px;
    clear:both;
    min-height: 100px;
}

.list {
  border:1px solid #ccc;
  list-style: none;
  padding: 0;
  margin: 10px;
}
.list img {float:right;}