<div ng-switch="printState">
    <div ng-switch-when="build">
        
        <div id="header">
            <img src="/img/layout/TheDuckStore_logo_green_499x76.png" />
            <h1>Template Sign System</h1>
            <!--
            <ul id="nav">
                <li><a href="/">Home</a></li>
            </ul>
            -->
            <div id="help">
                <p>Supported browsers: Google Chrome and Mozilla Firefox.</p>
            </div>    
        </div>

        <div id="build">   
            <div id="hud" ng-show="show.hud">
                <h4>Live Preview</h4>
                <div id="thumbnail" class="template-{{fullTemplate.slug}} theme-{{theme}}" >
                    <div ng-include="previewerhtml"></div>
                </div><!-- /#thumbnail -->
            </div><!-- /#hud -->

            <div id="step-template-choice" class="step">
                <h3>1. Choose a Template:</h3>
                <!--
                  Sort list (type what you want, like "price" or "horizontal"): <input ng-model="query">
                  Sort list by:
                  <select ng-model="orderProp">
                    <option value="size">Size</option>
                    <option value="id">ID</option>
                  </select>
                  -->
                <ul class="templates">
                    <li ng-repeat="template in templates | filter:query | orderBy:templateOrder" class="list btn">
                        <div switchtemplate ng-click="setTemplate(template)" >
                            <img ng-src="{{template.thumbnail}}" class="template-image" />
                            <div class="template-name">{{template.name}}</div>
                            <div class="template-description">{{template.description}}</div>
                            <div class="template-slug">{{template.slug}}</div>
                        </div>
                    </li>
                </ul>
            </div><!-- /#step-template-choice -->

            <div id="step-theme-choice" class="step">
                <h3>2. Choose a theme:</h3>
                    <ul>
                        <li switchtheme ng-repeat="theme in fullTemplate.themes" ng-click="setTheme(theme.id)" class="theme theme-{{theme.id}} btn">{{theme.id}}</li>
                    </ul>
            </div><!-- /#theme-choice -->

            <div id="step-edit-text" class="step">
                <h3>3. Edit text:</h3>
                <div>
                    <ul>
                        <li ng-repeat="field in fullTemplate.fields" class="field">
                        <label>{{field.id}}:</label><input type="text" ng-model="field.value" placeholder="">
                        </li>
                    </ul>
                </div>
            </div><!-- /#step-edit-text -->

            <div id="step-review" class="step">
                <h3>4. Review:</h3>
                <div id="review" class="template-{{fullTemplate.slug}} theme-{{theme}}">
                    <div ng-include="previewerhtml" class="previewerhtml"></div>
                </div>
            </div><!-- /#step-review -->

            <div id="step-print" class="step">           
                <h3>5. Print:</h3>
                <div class="btn" ng-click="print()">
                    Print
                </div>
            </div><!-- /#step-print -->

        </div><!-- /#build -->
    </div><!-- /ng-switch-when="build" -->

    <div ng-switch-when="print">
        <div class="btn no-print" id="return-to-build-btn" ng-click="build()">Return to build</div>
        <div id="print-sign" class="print template-{{fullTemplate.slug}} theme-{{theme}}">
            <div ng-include="previewerhtml"></div>
        </div>
    </div><!-- /ng-switch-when="print" -->
</div><!-- /ng-switch="printState" -->
<!-- /#print -->