<div id="template-list">
  <div id="hud">   
    <h4>Your currently selected</h4>
    <br />Theme: {{theme}}
    <br />Layout: {{fullTemplate.name}}   
        
        <div ng-repeat="field in fullTemplate.fields" class="field">      
            <div ng-if="isHeading(field)">{{field.value}}</div>
           <div ng-if="isCurrency(field)">{{field.value | currency:"$"}}</div>
        </div>


    
    <img src="{{template.thumbnail}}" />
    
  </div>

  <h2>Create a Sign</h2>
    
  <div id="theme-choice">
    <h3>1. Choose a theme:</h3>
    <div>
      <div switchtheme theme="DD">DD theme</div>
      <div switchtheme theme="CD">CD theme</div>
      <div switchtheme theme="DS">DS theme</div>
      <div switchtheme theme="LD">LD theme</div>
      <div switchtheme theme="SD">SD theme</div>
    </div>
  </div><!-- /#theme-choice -->
  <div id="template-choice">
    <h3>2. Choose a Template:</h3>
      Sort list (type what you want, like "price" or "horizontal"): <input ng-model="query">
      Sort list by:
      <select ng-model="orderProp">
        <option value="size">Size</option>
        <option value="id">ID</option>
      </select>
   
      <ul class="templates">
        <li ng-repeat="template in templates | filter:query | orderBy:templateOrder" class="template list">
          <div switchtemplate dial="setTemplate(template)" thistemplate="template"></div>
        </li>
      </ul>
  </div><!-- /#template-choice -->
  <div id="add-text">
    <h3>3. Add text:</h3>
    <div>
      <ul>
        <li ng-repeat="field in fullTemplate.fields" class="field">
        <!-- need to map fields to fullTemplate model -->
         <input type="text" ng-model="field.value" placeholder="">
        </li>
      </ul>
    </div>
  </div>
  <div id="print">
    <h3>4. Print</h3>
    <div class="btn">Print</div>
    <div>
      Print help >>
    </div>
  </div>
</div><!-- /#template-list -->