    <h2>Create</h2>
    Theme:{{thingy}}
    <div class="sidebar">
      Sort list (type what you want, like "price" or "horizontal"): <input ng-model="query">
      <br />
      Sort list by:
      <select ng-model="orderProp">
        <option value="size">Size</option>
        <option value="id">ID</option>
      </select>
    </div>

    <h3>Choose a Template:</h3>
    <div class="span10">
      <!--Body content-->
      <ul class="templates">
        <li ng-repeat="template in templates | filter:query | orderBy:orderProp" class="template list">
          
          
            <div switchtheme theme="DD">DD theme</div>
            <img src="{{template.thumbnail}}" />
            <div>Name: {{template.name}}</div>
            <div>Description: {{template.description}}</div>
            <div>{{template.id}}</div>
          <a href="#/new/{{template.id}}" class="list-item">
          GO >>
          </a>
          
        </li>
      </ul>

    </div>
